﻿@inherits ViewPage<EntryResponse>

<div>@{
         if (Model.Id != 0)
         {
             <div>Cos tam</div>
         }
     }</div>
<form action="/entry">
    @Html.TextBox("amount","0")
</form>